[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/git"]
	path = _vim/bundle/git
	url = http://github.com/tpope/vim-git.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/makegreen"]
	path = _vim/bundle/makegreen
	url = http://github.com/reinh/vim-makegreen
[submodule "_vim/bundle/tasklist"]
	path = _vim/bundle/tasklist
	url = http://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/youcompleteme"]
	path = _vim/bundle/youcompleteme
	url = http://github.com/Valloric/YouCompleteMe.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "_vim/tool/rst2ctags"]
	path = _vim/tool/rst2ctags
	url = http://github.com/jszakmeister/rst2ctags.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = http://github.com/vim-scripts/UltiSnips.git
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = http://github.com/klen/python-mode.git
