[submodule "_vim/bundle/makegreen"]
	path = _vim/bundle/makegreen
	url = http://github.com/reinh/vim-makegreen
[submodule "_vim/bundle/tasklist"]
	path = _vim/bundle/tasklist
	url = http://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/tool/rst2ctags"]
	path = _vim/tool/rst2ctags
	url = http://github.com/jszakmeister/rst2ctags.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = http://github.com/vim-scripts/UltiSnips.git
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/vim-cucumber"]
	path = _vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "_urxvt/ext/urxvt-tabbedex"]
	path = _urxvt/ext/urxvt-tabbedex
	url = http://github.com/stepb/urxvt-tabbedex.git
[submodule "dotbot"]
	path = dotbot
	url = http://github.com/anishathalye/dotbot.git
[submodule "_antigen"]
	path = _antigen
	url = http://github.com/zsh-users/antigen.git
[submodule "_awesome"]
	path = _awesome
	url = http://bugs.sleepanarchy.com/awesome-config.git
